@charset "UTF-8";
#classroom_reviews .evaluation_popcont {
  width: 733px;
  border: none;
  border-radius: 0;
}

#classroom_reviews .evaluation_popcont .evaluation_head {
  padding: 0;
  text-align: center;
  background-color: #adc9f4;
  border: none;
  position: relative;
}

#classroom_reviews .evaluation_popcont .evaluation_head .close_btn {
  font-size: 20px;
  font-family: serif;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 16px;
  outline: none;
  transform: translateY(-80%);
  font-weight: 100;
  opacity: 1;
}

#classroom_reviews .evaluation_popcont .evaluation_head .evaluation_headtext {
  color: #fff;
  font-size: 20px;
  font-family: "微软雅黑";
  margin: 26px 20px 0px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e5e5e5;
}

#classroom_reviews .evaluation_popcont .reviews_cont {
  width: 100%;
  padding: 0;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #adc9f4;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .left_echart {
  position: relative;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .left_echart .echart_cont {
  padding: 20px 0;
  width: 438px;
  height: 343px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .left_echart .echart_cont div {
  cursor: default !important;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .left_echart .innovation_img {
  width: 19px;
  position: absolute;
  left: 112px;
  top: 23px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .left_echart .technology_img {
  width: 13px;
  position: absolute;
  top: 31px;
  right: 119px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .left_echart .consciousness_img {
  width: 19px;
  position: absolute;
  right: 42px;
  top: 138px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .left_echart .thinking_img {
  width: 13px;
  position: absolute;
  bottom: 78px;
  right: 110px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .left_echart .research_img {
  width: 15px;
  position: absolute;
  left: 111px;
  bottom: 77px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .left_echart .cooperation_img {
  width: 15px;
  position: absolute;
  top: 138px;
  left: 48px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .right_wztips {
  width: 280px;
  margin-right: 15px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .right_wztips .recommendations {
  width: 270px;
  margin: 50px auto 8px;
  background-color: #bdd7ff;
  border: solid 1px #dde9ff;
  padding: 30px 40px;
  /*课堂评价评分*/
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .right_wztips .recommendations .recommendations_title {
  font-size: 18px;
  font-family: "微软雅黑";
  font-weight: bold;
  color: #fff;
  margin: 0;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .right_wztips .recommendations .appraisal_title {
  font-size: 18px;
  font-family: "微软雅黑";
  font-weight: normal;
  color: #fff;
  margin: 0;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .right_wztips .recommendations .appraisal_title .student_score {
  font-family: "微软雅黑";
  font-weight: normal;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .right_wztips .recommendations .recommendations_text {
  font-size: 16px;
  font-family: "微软雅黑";
  color: #fff;
  margin: 14px 0 0 0;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_top .right_wztips .wanzai_img {
  width: 90px;
  height: 155px;
  display: block;
  margin: 0 auto 47px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_bottom {
  padding: 35px 0 40px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_bottom .student_summary {
  margin: 0 auto;
  width: 655px;
  background-color: #f6f9fe;
  border: solid 1px #dde9ff;
  padding: 20px 30px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_bottom .student_summary .student_knowledge {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #2284f1;
  margin: 0;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_bottom .student_summary .knowledge_text {
  width: 575px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666;
  text-indent: 2em;
  margin: 15px 0 0 0;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_bottom .teacher_summary {
  margin: 17px auto 0;
  width: 655px;
  background-color: #f6f9fe;
  border: solid 1px #dde9ff;
  padding: 20px 30px;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_bottom .teacher_summary .evaluation_title {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #2284f1;
  margin: 0;
}

#classroom_reviews .evaluation_popcont .reviews_cont .evaluation_bottom .teacher_summary .evaluation_text {
  width: 575px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666;
  text-indent: 2em;
  margin: 15px 0 0 0;
}

#classroom_reviews .evaluation_popcont .modal-footer {
  display: none;
}
